.header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 72px;
    padding: 0 1em;
    .header__logo {
        display: flex;
        align-items: center;
        width: 179px;
        max-width: 179px;
        img{
            width: 101px;
            height: 38px;
        }
    }
    .header__title {
        font-size: 30px;
        font-weight: 700;
        color: white;
    } 
    
    .header__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 370px;
        input {
            width: 300px;
            border: none;
            background-color: #122840;
            color: #93a8bf;
            padding: 10px 0 10px 16px;
            box-sizing: border-box;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
            height: 44px;
            border-radius: 8px;
            font-size: 17px;
            line-height: 24px;
            cursor: text;
            transition: all .5s;
        }
        input:focus {
            color: #001424;
            outline: none;
            transition: background-color .5s linear;
            border-color: #e2e5eb;
            background-color: #ffffff;
        }
        input:focus::placeholder {
            color: transparent;
        }

        button {
            background: transparent;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            color: #fff;
            text-decoration: none;
        }
    }
}